header {
  background-image: url("../assites/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  height: auto;
}
header .row{
    margin: 70px 0;
}
header h2{
  text-transform: capitalize;
  color: #ab3550;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  width: 80%;
  font-family: 'Tajawal',sans-serif;

}
header p{
    color: #333;
    margin: 15px 0;
    font-family: 'Tajawal',sans-serif;
}
header button{
    width: 150px;
    height: 50px;
    background-color: #ab3550;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    margin: 20px 10px 20px 0;
    font-weight: bold;
    border: 3px solid transparent;
    box-shadow: 6px 8px 10px 0px #6c757d47;
    transition: all 0.3s ease-in-out;

}
header button:hover{
    border-color:  #ab3550;
    background-color: #fff;
    color: #ab3550;
}
header button:last-of-type{
    background-color: #fff;
    color: #ab3550;
}
